@{//bloco C#

    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><strong>Student: </strong>@ViewData["Student"]</p>

<address>
    <strong>Contact: </strong><a href="mailto:ianael2409@hotmail.com">ianael2409@hotmail.com</a>
</address>